.recipeCard {
    width: 15rem;
    height: 15rem;
    background-color: white;
    color: black;
    padding: 10px;
    margin: 10px;
}

.recipeCard h2 {
    font-size: 1.25rem;
}

.recipeCard img {
    height: 9rem;
    width: 100%;
    object-fit: cover;
}

.recipeCard hr {
    background-color: #5fbab0;
    border: none;
    height: 2px;
    margin: 0.5rem 0;
}